name: Build Windows App

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
        cache: 'pip'

    - name: Install dependencies & Build
      run: |
        python -m pip install --upgrade pip
        # [수정됨] 파일명을 변경한 것에 맞춰서 실행 명령어도 수정
        cmd /c build_windows.bat

    - name: Zip Build Output
      run: |
        Compress-Archive -Path dist/NaverBlogBot/* -DestinationPath blog_automation_windows.zip

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: blog_automation_windows
        path: blog_automation_windows.zip
        retention-days: 5